
h1{
  font-size: 40px ;
  color: #677077;
}

h4{
  color: #f2b632 ;
}

.heading{
  text-align: center ;
  padding-bottom: 20px ;
}

#left-button{
  margin-left: 50% ;
}
#right-button{
  margin-right: 50% ;

}
#wrapper {
    padding-bottom: 20px ;
    margin: 0 auto;
    text-align: center;
}

.btn-primary{
  background-color: #252839 !important ;
  border-color: #252839 !important ;
}

.video_stream {
  height: 305px;
  width: 405px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: solid black;
}

.buttons {
  text-align: center;
}

.led-button {
  margin-bottom: 0.5em;
}