
<!DOCTYPE html>
<html>
<head>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="javascript" href="app.js">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
<div class= "container">

  <div class= "row heading">
    <h1>Control the Arduino</h1>
    <h4>ELEC291 | GROUP 3AB</h4>
  </div>

  <div class= "row stream">
    <div class="video_stream">
      <!-- image stream, localhost to be replaced by IP address of RPi -->
      <img src="http://localhost:8080/?action=stream" alt="Video Stream" class="actual-video" style="height:300px;"/>
    </div>
  </div>

</div>
</body>
</html>
